*/target
*.iml
*/.idea
.idea/
*.class
target/
.project
.settings/
.classpath
LOG_PATH_IS_UNDEFINED/
*/logs

*.jar
*.war
*.ear
*.log
dist.log.*
/dist-primary/src/main/resources/config/application-pro.yml