<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>模拟交易</title>
    <div th:replace="~{header :: header}"></div>
</head>
<body>
<form class="layui-form" >
    <div class="layui-form-item">
        <label class="layui-form-label">平台id</label>
        <div class="layui-input-block">
            <input name="disPlatformId" lay-verify="required" autocomplete="off" placeholder="请输入" class="layui-input" type="text">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户id</label>
        <div class="layui-input-block">
            <input name="disSetUserId" lay-verify="required" autocomplete="off" placeholder="如上下级分润等" class="layui-input" type="text">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">交易金额</label>
        <div class="layui-input-block">
            <input name="disAmount" lay-verify="required" autocomplete="off" placeholder="如上下级分润等" class="layui-input" type="text">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">第三方订单号</label>
        <div class="layui-input-block">
            <input name="orderId" lay-verify="required" autocomplete="off" placeholder="如上下级分润等" class="layui-input" type="text">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <input name="note" lay-verify="required" autocomplete="off" placeholder="如上下级分润等" class="layui-input" type="text">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">分润类别</label>
        <div class="layui-input-inline">
            <select  name="disProType" lay-filter="" lay-search>
                <div th:each="type:${disProType}">
                    <option th:value="${type.disType}" th:text="${type.disValue}"></option>
                </div>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
</body>
<div th:replace="~{footer :: footer}"></div>
<script>
    layui.use(['form', 'layedit', 'laydate','layer'],function(){
        var form = layui.form()
                ,layer = layui.layer
                ,layedit = layui.layedit
                ,laydate = layui.laydate;
        //监听提交
        form.on('submit(demo1)', function(data){
            $.post("/disProfit/add",data.field,function (res) {
                if (res.code==0){
                    alert("成功")
                }else{
                    alert("失败");
                }
            })
            return false;
        });

    });
</script>
</html>