<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rule.graph.mybatis.dao.ext.XmlContentExtMapper">
  <resultMap id="BaseResultMap" type="com.rule.graph.mybatis.domain.XmlContent">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.rule.graph.mybatis.domain.XmlContent">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, type
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByType" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from xml_content
    where type = #{type,jdbcType=VARCHAR}
  </select>

</mapper>