<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.common.persistence.dao.CardInfoMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.stylefeng.guns.common.persistence.model.CardInfo">
		<id column="id" property="id" />
		<result column="bank_num" property="bankNum" />
		<result column="card_num" property="cardNum" />
		<result column="card_name" property="cardName" />
		<result column="card_img" property="cardImg" />
		<result column="card_info" property="cardInfo" />
		<result column="is_delete" property="isDelete" />
		<result column="add_time" property="addTime" />
		<result column="update_time" property="updateTime" />
	</resultMap>

</mapper>
