<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.common.persistence.dao.CardOrderInfoMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.stylefeng.guns.common.persistence.model.CardOrderInfo">
		<result column="id" property="id" />
		<result column="order_name" property="orderName" />
		<result column="order_id" property="orderId" />
		<result column="order_mobile" property="orderMobile" />
		<result column="order_idcardno" property="orderIdcardno" />
		<result column="order_email" property="orderEmail" />
		<result column="is_delete" property="isDelete" />
		<result column="add_time" property="addTime" />
		<result column="update_time" property="updateTime" />
	</resultMap>

</mapper>
