<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.common.persistence.dao.DisTradeRecordMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.stylefeng.guns.common.persistence.model.DisTradeRecord">
		<id column="id" property="id" />
		<result column="dis_user_id" property="disUserId" />
		<result column="trade_num" property="tradeNum" />
		<result column="trade_amount" property="tradeAmount" />
		<result column="trade_time" property="tradeTime" />
	</resultMap>

</mapper>
