<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.common.persistence.dao.MemberAmountHistroyMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.stylefeng.guns.common.persistence.model.MemberAmountHistroy">
		<result column="id" property="id" />
		<result column="his_type" property="hisType" />
		<result column="his_order" property="hisOrder" />
		<result column="his_amount" property="hisAmount" />
		<result column="his_note" property="hisNote" />
		<result column="is_delete" property="isDelete" />
		<result column="add_time" property="addTime" />
		<result column="update_time" property="updateTime" />
	</resultMap>

</mapper>
