
<div xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="footer">
        <script th:src="@{/lib/layui/layui.js}"></script>
        <script th:src="@{/lib/jquery/jquery.min.js}"></script>
        <script>
        !function () {
            $(window).on('resize', function() {
                var $content = $('.admin-nav-card .layui-tab-content');
                $content.height($(this).height() - 147);
                $content.find('iframe').each(function() {
                    $(this).height($content.height()+100);
                });
            }).resize();
        }

        </script>
    </div>