<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header>
    <div th:replace="~{header :: header}"></div>
</header>

<body th:fragment="info">
    <ul class="layui-nav layui-nav-tree" lay-filter="demo">
        <li class="layui-nav-item layui-nav-itemed">
            <a href="javascript:void(0)">默认展开</a>
            <dl class="layui-nav-child">
                <dd><a href="/dispro/add">选项一</a></dd>
                <dd><a href="javascript:void(0)">选项二</a></dd>
                <dd><a href="javascript:void(0)">选项三</a></dd>
            </dl>
        </li>

        <li class="layui-nav-item">
            <a href="javascript:void(0)">解决方案</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:void(0)">移动模块</a></dd>
                <dd><a href="javascript:void(0)">后台模块</a></dd>
                <dd><a href="javascript:void(0)">电商模块</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="">云市场</a></li>
        <li class="layui-nav-item"><a href="">社区</a></li>
    </ul>
    <div class="layui-body layui-tab-content site-demo site-demo-body">
</div>
</body>
<div th:replace="~{footer :: footer}"></div>
<script>
    layui.use(['element',"layer"],function(){
        var element = layui.element(); //导航的hover效果、二级菜单等功能，需要依赖element模块
        //监听导航点击
        element.on('nav(demo)', function(elem){
            //console.log(elem)
            layer.msg(elem.text());
        });
    });
</script>
</html>