<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.distribution.common.mapper.DisDictionaryMapper" >
  <resultMap id="BaseResultMap" type="com.distribution.common.model.DisDictionary" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="dis_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dis_type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dis_value" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dis_sort" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="dis_sys_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="is_delete" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="add_time" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="update_time" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, dis_code, dis_type, dis_value, dis_sort, dis_sys_id, is_delete, add_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dis_dictionary
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectListByCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from dis_dictionary
    where dis_code = #{disCode,jdbcType=VARCHAR}
    and is_delete='N' ORDER BY dis_sort ASC
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dis_dictionary
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.distribution.common.model.DisDictionary" >
    insert into dis_dictionary (id, dis_code, dis_type, 
      dis_value, dis_sort, dis_sys_id, 
      is_delete, add_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{disCode,jdbcType=VARCHAR}, #{disType,jdbcType=VARCHAR}, 
      #{disValue,jdbcType=VARCHAR}, #{disSort,jdbcType=INTEGER}, #{disSysId,jdbcType=VARCHAR}, 
      #{isDelete,jdbcType=VARCHAR}, #{addTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.distribution.common.model.DisDictionary" >
    insert into dis_dictionary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="disCode != null" >
        dis_code,
      </if>
      <if test="disType != null" >
        dis_type,
      </if>
      <if test="disValue != null" >
        dis_value,
      </if>
      <if test="disSort != null" >
        dis_sort,
      </if>
      <if test="disSysId != null" >
        dis_sys_id,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="disCode != null" >
        #{disCode,jdbcType=VARCHAR},
      </if>
      <if test="disType != null" >
        #{disType,jdbcType=VARCHAR},
      </if>
      <if test="disValue != null" >
        #{disValue,jdbcType=VARCHAR},
      </if>
      <if test="disSort != null" >
        #{disSort,jdbcType=INTEGER},
      </if>
      <if test="disSysId != null" >
        #{disSysId,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.distribution.common.model.DisDictionary" >
    update dis_dictionary
    <set >
      <if test="disCode != null" >
        dis_code = #{disCode,jdbcType=VARCHAR},
      </if>
      <if test="disType != null" >
        dis_type = #{disType,jdbcType=VARCHAR},
      </if>
      <if test="disValue != null" >
        dis_value = #{disValue,jdbcType=VARCHAR},
      </if>
      <if test="disSort != null" >
        dis_sort = #{disSort,jdbcType=INTEGER},
      </if>
      <if test="disSysId != null" >
        dis_sys_id = #{disSysId,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.distribution.common.model.DisDictionary" >
    update dis_dictionary
    set dis_code = #{disCode,jdbcType=VARCHAR},
      dis_type = #{disType,jdbcType=VARCHAR},
      dis_value = #{disValue,jdbcType=VARCHAR},
      dis_sort = #{disSort,jdbcType=INTEGER},
      dis_sys_id = #{disSysId,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>