<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.distribution.common.mapper.DisMemberInfoMapper" >
  <resultMap id="BaseResultMap" type="com.distribution.common.model.DisMemberInfo" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="dis_platform_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="dis_user_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dis_model_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dis_full_index" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dis_user_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dis_level" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="dis_user_type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dis_note" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="add_time" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="update_time" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id,dis_platform_id, dis_user_id, dis_model_id, dis_full_index, dis_user_name, dis_level, dis_user_type,
    dis_note, add_time, update_time, is_delete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from dis_member_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="select" parameterType="com.distribution.common.model.DisMemberInfo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dis_member_info
    where is_delete='N'
    <if test="id != null" >
      and  id = #{id,jdbcType=INTEGER}
    </if>
    <if test="disUserId != null">
      and dis_user_id = #{disUserId,jdbcType=VARCHAR}
    </if>
    <if test="disModelId!=null">
      and  dis_model_id=#{disModelId,jdbcType=VARCHAR}
    </if>
    <if test="disModelId!=null">
      and  dis_model_id=#{disModelId,jdbcType=VARCHAR}
    </if>
    <if test="disPlatformId!=null">
      and  dis_platform_id=#{disPlatformId,jdbcType=VARCHAR}
    </if>
    <if test="pageStart!=null">
      <if test="pageSize!=null">
        limit pageStart,pageSize
      </if>
    </if>
  </select>
  <select id="count" parameterType="com.distribution.common.model.DisMemberInfo" resultType="java.lang.Integer">
    select
    count(*)
    from dis_member_info
    where is_delete='N'
    <if test="id != null" >
      and  id = #{id,jdbcType=INTEGER}
    </if>
    <if test="disUserId != null">
      and dis_user_id = #{disUserId,jdbcType=VARCHAR}
    </if>
    <if test="disModelId!=null">
      and  dis_model_id=#{disModelId,jdbcType=VARCHAR}
    </if>

  </select>
  <select id="selectList" parameterType="com.distribution.common.model.DisMemberInfo" resultMap="BaseResultMap">
    SELECT m.`id`,m.`dis_platform_id`,m.`dis_user_id`,m.`dis_model_id`,m.`dis_full_index`,m.`dis_user_name`,m.`dis_level`,m.`update_time`
    ,m.`dis_note`,m.`add_time`,d.`dis_value` AS dis_user_type
    FROM  `dis_member_info` m
    LEFT JOIN `dis_dictionary` d ON m.`dis_user_type`=d.`dis_type` AND d.`dis_code`='disUserType' AND d.`is_delete`='N'
    where m.is_delete='N'
    <if test="id != null" >
      and  m.id = #{id,jdbcType=INTEGER}
    </if>
    <if test="disUserId != null">
      and m.dis_user_id = #{disUserId,jdbcType=VARCHAR}
    </if>
    <if test="disModelId!=null">
      and  m.dis_model_id=#{disModelId,jdbcType=VARCHAR}
    </if>
    <if test="pageStart!=null">
      <if test="pageSize!=null">
        limit #{pageStart},#{pageSize}
      </if>
    </if>
  </select>
  <select id="selectValueList" parameterType="com.distribution.common.model.DisMemberInfo" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM  `dis_member_info` m
    where m.is_delete='N'
    <if test="id != null" >
      and  m.id = #{id,jdbcType=INTEGER}
    </if>
    <if test="disUserId != null">
      and m.dis_user_id = #{disUserId,jdbcType=VARCHAR}
    </if>
    <if test="disModelId!=null">
      and  m.dis_model_id=#{disModelId,jdbcType=VARCHAR}
    </if>
    <if test="pageStart!=null">
      <if test="pageSize!=null">
        limit #{pageStart},#{pageSize}
      </if>
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dis_member_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.distribution.common.model.DisMemberInfo" >
    insert into dis_member_info (id, dis_user_id, dis_model_id,
    dis_full_index, dis_user_name, dis_level,
    dis_user_type, dis_note, add_time,
    update_time, is_delete,dis_platform_id)
    values (#{id,jdbcType=INTEGER}, #{disUserId,jdbcType=VARCHAR}, #{disModelId,jdbcType=VARCHAR},
    #{disFullIndex,jdbcType=VARCHAR}, #{disUserName,jdbcType=VARCHAR}, #{disLevel,jdbcType=INTEGER},
    #{disUserType,jdbcType=VARCHAR}, #{disNote,jdbcType=VARCHAR}, #{addTime,jdbcType=VARCHAR},
    #{updateTime,jdbcType=VARCHAR}, #{isDelete,jdbcType=VARCHAR},#{disPlatformId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.distribution.common.model.DisMemberInfo" >
    insert into dis_member_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null"  >
        id,
      </if>
      <if test="disPlatformId != null"  >
        dis_platform_id,
      </if>
      <if test="disUserId != null" >
        dis_user_id,
      </if>
      <if test="disModelId != null" >
        dis_model_id,
      </if>
      <if test="disFullIndex != null" >
        dis_full_index,
      </if>
      <if test="disUserName != null" >
        dis_user_name,
      </if>
      <if test="disLevel != null" >
        dis_level,
      </if>
      <if test="disUserType != null" >
        dis_user_type,
      </if>
      <if test="disNote != null" >
        dis_note,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="disPlatformId != null" >
        #{disPlatformId,jdbcType=VARCHAR},
      </if>
      <if test="disUserId != null" >
        #{disUserId,jdbcType=VARCHAR},
      </if>
      <if test="disModelId != null" >
        #{disModelId,jdbcType=VARCHAR},
      </if>
      <if test="disFullIndex != null" >
        #{disFullIndex,jdbcType=VARCHAR},
      </if>
      <if test="disUserName != null" >
        #{disUserName,jdbcType=VARCHAR},
      </if>
      <if test="disLevel != null" >
        #{disLevel,jdbcType=INTEGER},
      </if>
      <if test="disUserType != null" >
        #{disUserType,jdbcType=VARCHAR},
      </if>
      <if test="disNote != null" >
        #{disNote,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.distribution.common.model.DisMemberInfo" >
    update dis_member_info
    <set >
      <if test="disUserId != null" >
        dis_user_id = #{disUserId,jdbcType=VARCHAR},
      </if>
      <if test="disPlatformId != null" >
        dis_platform_id = #{disPlatformId,jdbcType=VARCHAR},
      </if>
      <if test="disModelId != null" >
        dis_model_id = #{disModelId,jdbcType=VARCHAR},
      </if>
      <if test="disFullIndex != null" >
        dis_full_index = #{disFullIndex,jdbcType=VARCHAR},
      </if>
      <if test="disUserName != null" >
        dis_user_name = #{disUserName,jdbcType=VARCHAR},
      </if>
      <if test="disLevel != null" >
        dis_level = #{disLevel,jdbcType=INTEGER},
      </if>
      <if test="disUserType != null" >
        dis_user_type = #{disUserType,jdbcType=VARCHAR},
      </if>
      <if test="disNote != null" >
        dis_note = #{disNote,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.distribution.common.model.DisMemberInfo" >
    update dis_member_info
    set dis_user_id = #{disUserId,jdbcType=VARCHAR},
      dis_platform_id = #{disPlatformId,jdbcType=VARCHAR},
      dis_model_id = #{disModelId,jdbcType=VARCHAR},
      dis_full_index = #{disFullIndex,jdbcType=VARCHAR},
      dis_user_name = #{disUserName,jdbcType=VARCHAR},
      dis_level = #{disLevel,jdbcType=INTEGER},
      dis_user_type = #{disUserType,jdbcType=VARCHAR},
      dis_note = #{disNote,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>