<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.distribution.common.mapper.DisProfiParamMapper" >
  <resultMap id="BaseResultMap" type="com.distribution.common.model.DisProfiParam" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="dis_platform_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dis_pro_mode" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dis_pro_type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dis_pro_value" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dis_pro_level" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dis_user_type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="is_delete" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="update_time" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="add_time" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <resultMap id="BaseResultList" type="com.distribution.common.model.DisProfiParam" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="dis_platform_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dis_pro_mode" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dis_pro_type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dis_pro_value" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dis_pro_level" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dis_user_type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="add_time" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, dis_platform_id, dis_pro_mode, dis_pro_type, dis_pro_value, dis_pro_level, dis_user_type, 
    is_delete, update_time, add_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dis_profi_param
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectList" resultMap="BaseResultList" parameterType="com.distribution.common.model.DisProfiParam" >
    SELECT p.`id`,p.`dis_platform_id`,
    e.`dis_value` AS dis_pro_mode,d.`dis_value` AS  dis_pro_level,f.`dis_value` AS dis_pro_type ,p.`add_time`,p.`dis_pro_value`,g.`dis_value` dis_user_type
    FROM  `dis_profi_param` p
    LEFT JOIN `dis_dictionary` d ON  d.`dis_type`=p.`dis_pro_level` AND d.`dis_code`='disProLevel'
    LEFT JOIN `dis_dictionary` e ON  e.`dis_type`=p.`dis_pro_mode` AND e.`dis_code`='disProMode'
    LEFT JOIN `dis_dictionary` f ON  f.`dis_type`=p.`dis_pro_type` AND f.`dis_code`='disProType'
    LEFT JOIN `dis_dictionary` g ON  g.`dis_type`=p.`dis_user_type` AND g.`dis_code`='disUserType'
    WHERE p.is_delete='N'
    <if test="pageStart!=null">
      <if test="pageSize!=null">
        limit #{pageStart},#{pageSize}
      </if>
    </if>
  </select>
  <select id="selectValueList" resultMap="BaseResultList" parameterType="com.distribution.common.model.DisProfiParam" >
    SELECT
    <include refid="Base_Column_List" />
    FROM  `dis_profi_param`
    WHERE is_delete='N'
    <if test="disPlatformId!=null">
      and dis_platform_id=#{disPlatformId,jdbcType=VARCHAR}
    </if>
    <if test="disProMode!=null">
      and dis_pro_mode=#{disProMode,jdbcType=VARCHAR}
    </if>
    <if test="disPlatformId!=null">
      and dis_platform_id=#{disPlatformId,jdbcType=VARCHAR}
    </if>
    <if test="pageStart!=null">
      <if test="pageSize!=null">
        limit #{pageStart},#{pageSize}
      </if>
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dis_profi_param
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.distribution.common.model.DisProfiParam" >
    insert into dis_profi_param (id, dis_platform_id, dis_pro_mode, 
      dis_pro_type, dis_pro_value, dis_pro_level, 
      dis_user_type, is_delete, update_time, 
      add_time)
    values (#{id,jdbcType=INTEGER}, #{disPlatformId,jdbcType=VARCHAR}, #{disProMode,jdbcType=VARCHAR}, 
      #{disProType,jdbcType=VARCHAR}, #{disProValue,jdbcType=VARCHAR}, #{disProLevel,jdbcType=INTEGER}, 
      #{disUserType,jdbcType=INTEGER}, #{isDelete,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, 
      #{addTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.distribution.common.model.DisProfiParam" >
    insert into dis_profi_param
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="disPlatformId != null" >
        dis_platform_id,
      </if>
      <if test="disProMode != null" >
        dis_pro_mode,
      </if>
      <if test="disProType != null" >
        dis_pro_type,
      </if>
      <if test="disProValue != null" >
        dis_pro_value,
      </if>
      <if test="disProLevel != null" >
        dis_pro_level,
      </if>
      <if test="disUserType != null" >
        dis_user_type,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="disPlatformId != null" >
        #{disPlatformId,jdbcType=VARCHAR},
      </if>
      <if test="disProMode != null" >
        #{disProMode,jdbcType=VARCHAR},
      </if>
      <if test="disProType != null" >
        #{disProType,jdbcType=VARCHAR},
      </if>
      <if test="disProValue != null" >
        #{disProValue,jdbcType=VARCHAR},
      </if>
      <if test="disProLevel != null" >
        #{disProLevel,jdbcType=INTEGER},
      </if>
      <if test="disUserType != null" >
        #{disUserType,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.distribution.common.model.DisProfiParam" >
    update dis_profi_param
    <set >
      <if test="disPlatformId != null" >
        dis_platform_id = #{disPlatformId,jdbcType=VARCHAR},
      </if>
      <if test="disProMode != null" >
        dis_pro_mode = #{disProMode,jdbcType=VARCHAR},
      </if>
      <if test="disProType != null" >
        dis_pro_type = #{disProType,jdbcType=VARCHAR},
      </if>
      <if test="disProValue != null" >
        dis_pro_value = #{disProValue,jdbcType=VARCHAR},
      </if>
      <if test="disProLevel != null" >
        dis_pro_level = #{disProLevel,jdbcType=INTEGER},
      </if>
      <if test="disUserType != null" >
        dis_user_type = #{disUserType,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.distribution.common.model.DisProfiParam" >
    update dis_profi_param
    set dis_platform_id = #{disPlatformId,jdbcType=VARCHAR},
      dis_pro_mode = #{disProMode,jdbcType=VARCHAR},
      dis_pro_type = #{disProType,jdbcType=VARCHAR},
      dis_pro_value = #{disProValue,jdbcType=VARCHAR},
      dis_pro_level = #{disProLevel,jdbcType=INTEGER},
      dis_user_type = #{disUserType,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>