<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>赚不停</title>

</head>
<body>
	<div class="loading"><img src="images/ajax-loader.gif"/></div>
	<div data-role="page" class="touzi set" id="set">
		<!--jqmb需要把所以东西放在page div内-->
		<link rel="stylesheet" th:href="@{css/jquery.mobile-1.4.5.min.css}"/>
		<link rel="stylesheet" th:href="@{css/style.css}"/>
   		 
   		<!--jqmb需要把所以东西放在page div内--> 
		<header data-role="header" data-position="fixed">
			<a href="#" data-rel="back" class="ui-btn ui-icon-carat-l ui-btn-icon-left ui-nodisc-icon"  data-ajax="false">返回</a> 
			<h3>下级会员</h3>
		</header>
		<div class="ui-content" data-role="content">
			<dl>
				<dd id="navInfo">
				</dd>
			</dl>
		</div>
		<input th:value="@{/}" id="path" type="hidden">
		<script th:src="@{js/jquery.min.js}"></script>
		<script th:src="@{js/jquery.mobile-1.4.5.min.js}"></script>
   		<script type="text/javascript">
   			$(window).load(function(){
					$(".loading").fadeOut();
					
				})
            var path=$("#path").val();
            $.ajax({
                url:path+"subordinate",
                type:"post",
                success:function (result) {
                   console.log(result);
					if(result.success){
					   var navHtml="";
					    for(var i=0;i<result.data.length;i++){
                           navHtml = navHtml+
							   " <a href='javascript:void(0)' data-ajax='false' class='ui-btn ui-icon-appright ui-btn-icon-right ui-nodisc-icon'>" +
                               result.data[i]["memberName"] +
							   "</a>"
						}
                        $("#navInfo").html(navHtml);

					}
                }
            });
   		</script>
	</div>
	
</body>
</html>